In [1]:
# API 키를 환경변수로 관리하기 위한 설정 파일
from dotenv import load_dotenv

# API 키 정보 로드
load_dotenv()

True

In [3]:
!pip install langchain_experimental

Collecting langchain_experimental
  Downloading langchain_experimental-0.0.62-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: langchain-community<0.3.0,>=0.2.6 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from langchain_experimental) (0.2.9)
Requirement already satisfied: langchain-core<0.3.0,>=0.2.10 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from langchain_experimental) (0.2.22)
Requirement already satisfied: PyYAML>=5.3 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from langchain-community<0.3.0,>=0.2.6->langchain_experimental) (6.0.1)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from langchain-community<0.3.0,>=0.2.6->langchain_experimental) (2.0.31)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from langchain-community<0.3.0,>=0.2.6->langchain_experimental) (3.9.5)
Requirement already satisfied: dataclasses-json<0.7,>=0.5.7 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from langchain-community<0.3.0,>=0.2.6->langchain_experimental) (0.6.7)
Requirement already satisfied: langchain<0.3.0,>=0.2.9 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from langchain-community<0.3.0,>=0.2.6->langchain_experimental) (0.2.10)
Requirement already satisfied: langsmith<0.2.0,>=0.1.0 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from langchain-community<0.3.0,>=0.2.6->langchain_experimental) (0.1.90)
Requirement already satisfied: numpy<2,>=1 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from langchain-community<0.3.0,>=0.2.6->langchain_experimental) (1.26.4)
Requirement already satisfied: requests<3,>=2 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from langchain-community<0.3.0,>=0.2.6->langchain_experimental) (2.32.3)
Requirement already satisfied: tenacity!=8.4.0,<9.0.0,>=8.1.0 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from langchain-community<0.3.0,>=0.2.6->langchain_experimental) (8.5.0)
Requirement already satisfied: jsonpatch<2.0,>=1.33 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from langchain-core<0.3.0,>=0.2.10->langchain_experimental) (1.33)
Requirement already satisfied: packaging<25,>=23.2 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from langchain-core<0.3.0,>=0.2.10->langchain_experimental) (24.1)
Requirement already satisfied: pydantic<3,>=1 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from langchain-core<0.3.0,>=0.2.10->langchain_experimental) (2.8.2)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community<0.3.0,>=0.2.6->langchain_experimental) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community<0.3.0,>=0.2.6->langchain_experimental) (23.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community<0.3.0,>=0.2.6->langchain_experimental) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community<0.3.0,>=0.2.6->langchain_experimental) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community<0.3.0,>=0.2.6->langchain_experimental) (1.9.4)
Requirement already satisfied: async-timeout<5.0,>=4.0 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community<0.3.0,>=0.2.6->langchain_experimental) (4.0.3)
Requirement already satisfied: marshmallow<4.0.0,>=3.18.0 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from dataclasses-json<0.7,>=0.5.7->langchain-community<0.3.0,>=0.2.6->langchain_experimental) (3.21.3)
Requirement already satisfied: typing-inspect<1,>=0.4.0 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from dataclasses-json<0.7,>=0.5.7->langchain-community<0.3.0,>=0.2.6->langchain_experimental) (0.9.0)
Requirement already satisfied: jsonpointer>=1.9 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from jsonpatch<2.0,>=1.33->langchain-core<0.3.0,>=0.2.10->langchain_experimental) (3.0.0)
Requirement already satisfied: langchain-text-splitters<0.3.0,>=0.2.0 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from langchain<0.3.0,>=0.2.9->langchain-community<0.3.0,>=0.2.6->langchain_experimental) (0.2.2)
Requirement already satisfied: orjson<4.0.0,>=3.9.14 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from langsmith<0.2.0,>=0.1.0->langchain-community<0.3.0,>=0.2.6->langchain_experimental) (3.10.6)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from pydantic<3,>=1->langchain-core<0.3.0,>=0.2.10->langchain_experimental) (0.7.0)
Requirement already satisfied: pydantic-core==2.20.1 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from pydantic<3,>=1->langchain-core<0.3.0,>=0.2.10->langchain_experimental) (2.20.1)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from pydantic<3,>=1->langchain-core<0.3.0,>=0.2.10->langchain_experimental) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from requests<3,>=2->langchain-community<0.3.0,>=0.2.6->langchain_experimental) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from requests<3,>=2->langchain-community<0.3.0,>=0.2.6->langchain_experimental) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from requests<3,>=2->langchain-community<0.3.0,>=0.2.6->langchain_experimental) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from requests<3,>=2->langchain-community<0.3.0,>=0.2.6->langchain_experimental) (2024.7.4)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from SQLAlchemy<3,>=1.4->langchain-community<0.3.0,>=0.2.6->langchain_experimental) (3.0.3)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\users\userk\miniforge3\envs\rag\lib\site-packages (from typing-inspect<1,>=0.4.0->dataclasses-json<0.7,>=0.5.7->langchain-community<0.3.0,>=0.2.6->langchain_experimental) (1.0.0)
Downloading langchain_experimental-0.0.62-py3-none-any.whl (202 kB)
   ---------------------------------------- 0.0/202.7 kB ? eta -:--:--
   --- ----------------------------------- 20.5/202.7 kB 640.0 kB/s eta 0:00:01
   ---------------------- ----------------- 112.6/202.7 kB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 202.7/202.7 kB 1.8 MB/s eta 0:00:00
Installing collected packages: langchain_experimental
Successfully installed langchain_experimental-0.0.62

In [4]:
import pandas as pd
from langchain_core.prompts import ChatPromptTemplate
from langchain_experimental.tools import PythonAstREPLTool

df = pd.read_csv("./data/titanic.csv")
# titanic.csv 파일에서 데이터를 읽어와 DataFrame으로 저장합니다.
tool = PythonAstREPLTool(locals={"df": df})
# PythonAstREPLTool을 사용하여 로컬 변수 'df'를 포함하는 환경을 생성합니다.
tool.invoke("df")
# 'df' DataFrame에서 'Fare' 열의 평균 값을 계산합니다.

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
hello = """
print("Hello, world!")

def add(a, b):
    return a + b

print(add(30, 40))

import pandas as pd

df = pd.read_csv("./data/titanic.csv")
df.head()
"""

In [6]:
tool = PythonAstREPLTool(locals={"df": df})
# PythonAstREPLTool을 사용하여 로컬 변수 'df'를 포함하는 환경을 생성합니다.
tool.invoke(hello)

Hello, world!
70

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 데이터 로드

In [7]:
import pandas as pd

df = pd.read_csv("data/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Pandas DataFrame Agent

In [8]:
from langchain.agents.agent_types import AgentType
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent
from langchain_openai import ChatOpenAI
from langchain.agents.agent_types import AgentType
from langchain.callbacks.base import BaseCallbackHandler


class StreamCallback(BaseCallbackHandler):
    def on_llm_new_token(self, token: str, **kwargs):
        print(token, end="", flush=True)


# # 에이전트 생성
agent = create_pandas_dataframe_agent(
    ChatOpenAI(
        temperature=0,
        model_name="gpt-3.5-turbo-0613",
        streaming=True,
        callbacks=[StreamCallback()],
    ),  # 모델 정의
    df,  # 데이터프레임
    verbose=True,  # 추론과정 출력
    # AgentType.ZERO_SHOT_REACT_DESCRIPTION
    agent_type=AgentType.OPENAI_FUNCTIONS,
)

ValueError: This agent relies on access to a python repl tool which can execute arbitrary code. This can be dangerous and requires a specially sandboxed environment to be safely used. Please read the security notice in the doc-string of this function. You must opt-in to use this functionality by setting allow_dangerous_code=True.For general security guidelines, please see: https://python.langchain.com/v0.2/docs/security/